<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='base_style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav id="navbar">
        <ul>
            <a href="{{ url_for('index') }}">
                <li>
                    Home
                </li>
            </a>
            {% if user != None %}
            <a href="{{ url_for('shopping_list') }}">
                <li>
                    Create a Shopping List
                </li>
            </a>
            <a href="{{ url_for('list_route_display') }}">
                <li>
                    Shopping Route
                </li>
            </a>
            {% endif %}
            {% if user == None %}
            <a href="{{ url_for('login_page') }}">
                <li>
                    Login
                </li>
            </a>
            <a href="{{ url_for('signup_page') }}">
                <li>
                    Signup
                </li>
            </a>
            {% else %}
            <a href="{{ url_for('logout_decision') }}">
                <li>
                    Logout
                </li>
            </a>
            {% endif %}
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>