<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='base_style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav id="navbar">
        <ul>
            <li>
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            {% if user != None %}
            <li>
                <a href="{{ url_for('shopping_list') }}">Create a shopping list</a>
            </li>
            <li>
                <a href="{{ url_for('list_route_display') }}">Shopping List and Route</a>
            </li>
            {% endif %}
            {% if user == None %}
            <li>
                <a href="{{ url_for('login_page') }}">Login</a>
            </li>
            <li>
                <a href="{{ url_for('signup_page') }}">Signup</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('logout_decision') }}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>