{% extends 'base.html' %}

{% block body %}
    <div class="modal">
        <div class="modal-box">
            <div class="modal-content">
                {% if entity == 'item' %}
                <h1>Item already exists</h1>
                <div class="modal-footer">
                    <a href="{{ url_for('shopping_list_search') }}" class="turn-anchor-btn">Go back to add another item</a>
                    <a href="{{ url_for('list_route_display') }}" class="turn-anchor-btn">Go to edit item</a>
                </div>
                {% elif entity == 'store' %}
                <h1>Store already exists</h1>
                <div class="modal-footer">
                    <a href="{{ url_for('shopping_list_search') }}" class="turn-anchor-btn">Go back to add another store</a>
                    <a href="{{ url_for('list_route_display') }}" class="turn-anchor-btn">Go to delete store</a>
                </div>
                {% elif entity == 'email' %}
                <h1>Email already exists</h1>
                <div class="modal-footer">
                    <a href="{{ url_for('login_page') }}" class="turn-anchor-btn">Please login</a>
                    <a href="{{ url_for('signup_page') }}" class="turn-anchor-btn">Cancel, signup with another email</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        const modal = document.querySelector('.modal');
        modal.classList.toggle('show-modal');
    </script>
{% endblock %}