{% extends 'base.html' %}

{% block body %}
    <div class="modal">
        <div class="modal-box">
            <div class="modal-content">
                {% if entity == 'item' %}
                <h1>Item already exists</h1>
                <div class="centering-container repeat-add">
                    <form action="/list">
                        <button>Go back to add another item</button>
                    </form>
                    <form action="/">
                        <button>Go to edit item</button>
                    </form>
                </div>
                {% elif entity == 'store' %}
                <h1>Store already exists</h1>
                <div class="centering-container repeat-add">
                    <form action="/list">
                        <button>Go back to add another store</button>
                    </form>
                    <form action="/">
                        <button>Go to delete store</button>
                    </form>
                </div>
                {% elif entity == 'email' %}
                <h1>Email already exists</h1>
                <div class="centering-container repeat-add">
                    <form action="/login">
                        <button>Please login</button>
                    </form>
                    <form action="/signup">
                        <button>Cancel, signup with another email</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        const modal = document.querySelector('.modal');
        modal.classList.toggle('show-modal');
    </script>
{% endblock %}