{% extends 'base.html' %}

{% block body %}
    <section class="centered-list-display">
        <div class="centered-list-child signup-flex" id="signup-fields">
            <header>
                <h3>Reset my Password</h3>
            </header>
            <div class="guidelines-for-signup">
                {% if no_email %}
                <h5>You might have entered the wrong email! Or maybe you need to
                    <a href="{{ url_for('signup_page') }}">signup</a>?
                </h5>
                {% endif %}
                {% if wrong_secret %}
                <h5>You have entered the wrong secret answer! Please try again!</h5>
                {% endif %}
            </div>
            <form action="/forgot_password" method="POST" class="signup-flex">
                <label for="email" class="label-flex">
                    <p>Email:</p>
                    <input type="text" required name="email" class="bordered-input-box login-input" id="login-email">
                </label>
                <label for="email" class="label-flex">
                    <p>Secret Answer:</p>
                    <input type="password" required name="secret_answer" class="bordered-input-box login-input" id="login-email">
                </label>
                <div class="centering-container">
                    <button id="form-btn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}