{% extends 'base.html' %}

{% block body %}
    <section class="centered-list-display">
        <div class="centered-list-child signup-flex" id="signup-fields">
            <header>
                <h3>Reset your password, {{ user_name }}</h3>
            </header>
            <form action="/secret_cred_check" method="POST" class="signup-flex">
                <input type="hidden" name="email" value="{{ email }}">
                <label for="password" class="label-flex">
                    <p>Password:</p>
                    <input type="password" required name="entered_password" class="bordered-input-box" id="pw">
                </label>
                <div class="centering-container">
                    <h4 id="guidelines-notif">Please ensure your password follows the below guidelines!</h4>
                </div>
                <div class="guidelines-for-signup">
                    <ul class="pointers-pw">
                        <li id="lc"> Atleast one lowercase character</li>
                        <li id="uc"> Atleast one uppercase character</li>
                        <li id="dig"> Atleast one number</li>
                        <li id="spec"> Atleast one special character</li>
                        <li id="eight"> Atleast eight characters</li>
                    </ul>
                </div>
                <label for="retyped-password" class="label-flex">
                    <p>Retype Password:</p>
                    <input type="password" required name="retyped_password" class="bordered-input-box" id="repw">
                </label>
                <div class="centering-container">
                    <button id="form-btn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>
    <script src="{{ url_for('static',filename='reset_pw.js') }}"></script>
{% endblock %}