{% extends 'base.html' %}

{% block body %}
    <header id="route-header">
        <h3>{{ user_name }}, here is your route to finish your shopping!</h3>
    </header>
    <section class="centered-list-display">
        {% if ids %}
            <div class="centered-list-child flex-for-col" id="map-flexbox">
                <iframe width="100%" height="100%" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/directions?key={{ key }}&origin={{ lat }},{{ long }}
                &destination={{ lat }},{{ long }}&waypoints={{ ids }}&waypoints=optimizeWaypoints:true">
                </iframe>
            </div>
        {% else %}
            <div class="centered-list-child flex-for-col" id="map-flexbox">
                <h2>Please add some stores via <a href="{{ url_for('shopping_list') }}">this</a> link first!</h2>
            </div>
        {% endif %}
    </section>
{% endblock %}