{% extends 'base.html' %}

{% block body %}
    <section class="centered-list-display">
        <div class="centered-list-child flex-for-col">
            <header>
                <h3>Shopping List</h3>
            </header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus pariatur, eaque at enim nostrum voluptates labore sequi, animi asperiores aliquid accusamus tempore alias cum accusantium odio recusandae repellendus blanditiis. Ratione!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reiciendis impedit fugiat, harum laboriosam non debitis ex inventore quod ipsum temporibus enim. Facilis, quasi ad. Magnam non eveniet voluptatem recusandae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorum sint dignissimos nobis debitis harum modi, in quas praesentium, corporis rerum tenetur aut voluptate cupiditate beatae commodi reiciendis nisi? Error!</p>
            <iframe width="450" height="250" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/directions?key={{ key }}&origin={{ lat }},{{ long }}
                &destination={{ lat }},{{ long }}&waypoints={{ ids }}&avoid=tolls|highways">
            </iframe>
        </div>
    </section>
{% endblock %}