{% extends 'base.html' %}

{% block body %}
    <section class="centered-list-display">
        <div class="flex-for-col" id="shopping-list-flexbox">
            <header>
                <h3>Shopping List</h3>
            </header>
            {% for store in stores %}
            <div id="items-each-store">
                <h4>{{ store.store }}, {{ store.location }}</h4>
                {% if store.item_list != None %}
                <ul>
                    {% set items = store.item_list.split(',') %}
                    {% for item in items %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="centered-list-child flex-for-col" id="map-flexbox">
            <iframe width="100%" height="100%" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/directions?key={{ key }}&origin={{ lat }},{{ long }}
            &destination={{ lat }},{{ long }}&waypoints={{ ids }}&avoid=tolls|highways">
            </iframe>
        </div>
    </section>
{% endblock %}