{% extends 'base.html' %}

{% block body %}
    <section class="centered-list-display">
        <div class="centered-list-child signup-flex login-box" id="signup-fields">
            <header>
                <h3>Reset my Password</h3>
            </header>
            <form action="/secret_cred_check" method="POST" class="signup-flex">
                <input type="hidden" name="email" value="{{ email }}">
                <input type="hidden" name="registered_answer" value="{{ registered_answer }}">
                <label for="email" class="label-flex">
                    <p>Please submit the reminder you set for your password (not case-sensitive):</p>
                    <input type="text" required name="secret_answer" class="bordered-input-box login-input" id="login-email">
                </label>
                <div class="centering-container">
                    <button id="form-btn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}