{% extends 'base.html' %}

{% block body %}
    <section class="centered-list-display">
        <div class="centered-list-child flex-for-col" id="signup-fields">
            <header>
                <h3>Sign Up</h3>
            </header>
            <form action="/signup" method="POST" class="flex-for-col">
                <label for="first_name">
                    First Name:
                    <input type="text" required name="first_name" class="bordered-input-box">
                </label>
                <label for="email">
                    Email:
                    <input type="text" required name="email" class="bordered-input-box" id="signup-email">
                </label>
                <label for="password">
                    Password:
                    <input type="password" required name="entered_password" class="bordered-input-box" id="pw">
                </label>
                <label for="retyped-password">
                    Retype Password:
                    <input type="password" required name="retyped_password" class="bordered-input-box" id="repw">
                </label>
                <label for="home">
                    Home Address:
                    <input type="text" required name="home" class="bordered-input-box" id="home-address">
                </label>
                <button class="centered-btn" id="form-btn">
                    Submit
                </button>
            </form>
            <div class="guidelines-for-signup">
                <h4>Please ensure your password follows the below guidelines!</h4>
                <ul class="pointers-pw">
                    <li id="lc">Atleast one lowercase character</li>
                    <li id="uc">Atleast one uppercase character</li>
                    <li id="dig">Atleast one number</li>
                    <li id="spec">Atleast one special character</li>
                    <li id="eight">Atleast eight characters</li>
                </ul>
            </div>
            {% if invalid_email == True %}
            <div class="guidelines-for-signup">
                <h4>Please follow these rules for your email and try again!</h4>
                <ul>
                    <li>It has exactly one '@' symbol</li>
                    <li>It has at least one '.'</li>
                    <li>There is at least one . following the '@' symbol</li>
                    <li>There is at least one character before the '@'</li>
                    <li>There is at least one character between the '@' and '.'</li>
                    <li>There is at least one character after the final '.'</li>
                </ul>
            </div>
            {% endif %}
        </div>
    </section>
    <script src="{{ url_for('static',filename='signup.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=places&callback=initMap"></script>
{% endblock %}