{% extends 'base.html' %}

{% block body %}
    <section class="centered-list-display">
        <div class="centered-list-child signup-flex" id="signup-fields">
            <header>
                <h3>Sign Up</h3>
            </header>
            <form action="/signup" method="POST" class="signup-flex" id="flex-signup">
                <label for="first_name" class="label-flex">
                    <p>First Name:</p>
                    <input type="text" required name="first_name" class="bordered-input-box">
                </label>
                <label for="email" class="label-flex">
                    <p>Email:</p>
                    <input type="text" required name="email" class="bordered-input-box" id="signup-email">
                </label>
                <label for="password" class="label-flex">
                    <p>Password:</p>
                    <input type="password" required name="entered_password" class="bordered-input-box" id="pw">
                </label>
                <div class="centering-container">
                    <h4 id="guidelines-notif">Please ensure your password follows the below guidelines!</h4>
                </div>
                <div class="guidelines-for-signup">
                    <ul class="pointers-pw">
                        <li id="lc"> Atleast one lowercase character</li>
                        <li id="uc"> Atleast one uppercase character</li>
                        <li id="dig"> Atleast one number</li>
                        <li id="spec"> Atleast one special character</li>
                        <li id="eight"> Atleast eight characters</li>
                    </ul>
                </div>
                <label for="retyped-password" class="label-flex">
                    <p>Retype Password:</p>
                    <input type="password" required name="retyped_password" class="bordered-input-box" id="repw">
                </label>
                <label for="home" class="label-flex">
                    <p>Home Address</p>
                    <input type="text" required name="home" class="bordered-input-box" id="home-address">
                </label>
                <div class="centering-container">
                    <button id="form-btn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>
    {% if invalid_email == True %}
    <div class="modal">
        <div class="modal-box">
            <div class="modal-content">
                <h1>Check Email</h1>
                <h4>Please ensure your email follows the below guidelines!</h4>
                <div class="guidelines-for-signup">
                    <ul class="modal-list">
                        <li> It has exactly one '@' symbol</li>
                        <li> It has at least one '.'</li>
                        <li> There is at least one . following the '@' symbol</li>
                        <li> There is at least one character before the '@'</li>
                        <li> There is at least one character between the '@' and '.'</li>
                        <li> There is at least one character after the final '.'</li>
                    </ul>
                </div>
                <div class="centering-container">
                    <button id="try-again">Please try again</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if entity == 'email' %}
    <div class="modal">
        <div class="modal-box">
            <div class="modal-content">
                <h1>Email already exists</h1>
                <div class="centering-container repeat-add">
                    <form action="/login" class="leave-page">
                        <button>Please login</button>
                    </form>
                    <button id="try-again">Cancel, signup with another email</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static',filename='signup.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=places&callback=initMap"></script>
    <script>
        const modal = document.querySelector('.modal');
        const closeButton = document.querySelector('#try-again');
        const formExit = document.querySelector('.leave-page');
        const exitButton = document.querySelector('.leave-page > button');
        if (formExit) {
            formExit.addEventListener('submit', function (event) {
                event.preventDefault();
            });
        }
        if (modal) {
            modal.classList.toggle('show-modal');
        }
        if (closeButton) {
            closeButton.addEventListener('click', function () {
                modal.classList.toggle('show-modal');
            });
        }
        if (exitButton) {
            exitButton.addEventListener('click', function () {
                modal.classList.toggle('show-modal');
                setTimeout(function () {
                    formExit.submit();
                }, 1000);
            });
        }
    </script>
{% endblock %}