{% extends 'route.html' %}

{% block trial %}
    <div class="modal">
        <div class="modal-box">
            <div class="modal-content">
                <h1>Edit Item</h1>
                <form action="/display" method="POST">
                    <div class="form-group">
                        <label for="item-name" class="col-form-label">Item Name:</label>
                        <input type="hidden" class="form-control" id="store-id" name="store_id">
                        <input type="text" class="form-control" id="item-name" name="new_item_name">
                        <input type="hidden" class="form-control" id="old-item-name" name="old_item_name">
                        <button class="btn btn-secondary">Confirm Edit</button>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="turn-anchor-btn" id="cancel-edit">Cancel Edit</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const modal = document.querySelector('.modal');
        const editBtns = document.querySelectorAll('.edit-item-btn');
        const deleteBtns = document.querySelectorAll('.delete-item-btn');
        const itemName = document.querySelector('#item-name');
        const oldItemName = document.querySelector('#old-item-name');
        const storeId = document.querySelector('#store-id');
        const cancelEdit = document.querySelector('#cancel-edit');

        for (const editBtn of editBtns) {
            editBtn.addEventListener('click', function () {
                // $("#editModal").modal();
                modal.classList.toggle('show-modal');
                const itemAndIds = editBtn.previousElementSibling.value;
                const itemAndIdsArr = itemAndIds.split(',');
                itemName.value = itemAndIdsArr[0];
                oldItemName.value = itemAndIdsArr[0];
                storeId.value = itemAndIdsArr[1];
            });
        }
    </script>
{% endblock %}